<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="testData" value="testData_" />
    <test verbose="2" preserve-order="false" name="C:/Users/migwe/IdeaProjects/Dev">
        <classes>
            <class name="RestAPI.TestAirlines">
                <methods>
                    <include name="RunApiTest" />
                </methods>
            </class>

        </classes>
    </test>
</suite>